body{
    /* width:800px; */
    text-align:center;
    margin:auto;
    font-family: 'Spartan', sans-serif;
    background: linear-gradient(231deg, #ffa0a0, #ffbf8b, #ffed8b, #e2f984, #a9f984, #84f9d1, #84e9f9, #84b5f9, #9184f9, #ba84f9, #fe98ff);
    background-size: 2200% 2200%;

    -webkit-animation: AnimationName 19s ease infinite;
    -moz-animation: AnimationName 19s ease infinite;
    animation: AnimationName 19s ease infinite;
}




img {
    max-width: 140px;
    margin:16px;
}

.text{
   
    display:flex;
    justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 200px;
  line-height: 100px;
  width:70%;
  max-width: 100%;
  margin:0 auto;
  padding: 8rem 0;
}
h1{
    font-size:3rem;
    max-width:100%;
    margin:0 auto;
    text-align:center;
    color:white;
}

p{
    font-size:2rem;
    max-width:100%;
    margin:0 auto;
    color:white;
    
}

input{
    border: 2px solid white;
    border-radius:50px;
    width:50%;
    font-size:4rem;
    text-justify: center;
    justify-content: center;
    font-family: 'Spartan', sans-serif;
    color:white;
    margin:0 auto;
    background-color: transparent;
}

.result{
    border: solid white;
    width: 40%;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
}


@-webkit-keyframes AnimationName {
    0%{background-position:94% 0%}
    50%{background-position:7% 100%}
    100%{background-position:94% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:94% 0%}
    50%{background-position:7% 100%}
    100%{background-position:94% 0%}
}
@keyframes AnimationName { 
    0%{background-position:94% 0%}
    50%{background-position:7% 100%}
    100%{background-position:94% 0%}
}